$colors: (
  "primary": #db9e3f,
  "current": #4b67af,
  "white": #fff,
  "light": #f9f9f9,
  "grey": #999,
  "dark-1": #343440,
  "dark": #222,
  "black": #000,
);
$base-font-size: 1rem;
$font-sizes: (
  xs: 0.7692, //10px
  sm: 0.9231, //12px
  md: 1,//13px
  lg: 1.0769,//14px
  xl: 1.2308,//16px
);
$flex-ai: (
    // 1 2 3
    // |
    // |
    start: flex-start,
    // |
    // |
    // 1 2 3
    end: flex-end,
    // |
    // 1 2 3
    // |
    center: center,
    // 1 2 3
    // 1 2 3
    // 1 2 3
    stretch: stretch,
);
$flex-jc: (
  //1-2-3-4------------------
  start: flex-start,
  //-----------------1-2-3-4
  end: flex-end,
  //--------1-2-3-4---------
  center: center,
  //1---2---3---4---5
  between: space-between,
  //--1--2--3--4--5--
  around: space-around,
);
$spacing-types: (m: margin, p: padding);
$spacing-directions: (t: top, r: right, b: bottom, l: left);
$spacing-base-size: 1rem;
$spacing-sizes: (0: 0, 1: 0.25, 2: 0.5, 3: 1, 4: 1.5, 5: 3);